<?xml version="1.0"?>
<config>
    <modules>
        <Safecharge_Safecharge>
            <version>1.0.0</version>
        </Safecharge_Safecharge>
    </modules>

    <global>
        <blocks>
            <safecharge_safecharge>
                <class>Safecharge_Safecharge_Block</class>
            </safecharge_safecharge>
        </blocks>
        <helpers>
            <safecharge_safecharge>
                <class>Safecharge_Safecharge_Helper</class>
            </safecharge_safecharge>
        </helpers>
        <models>
            <safecharge_safecharge>
                <class>Safecharge_Safecharge_Model</class>
                <resourceModel>safecharge_safecharge_resource</resourceModel>
            </safecharge_safecharge>
            <safecharge_safecharge_resource>
                <class>Safecharge_Safecharge_Model_Resource</class>
                <entities>
                    <request>
                        <table>safecharge_safecharge_api_request_log</table>
                    </request>
                    <vault>
                        <table>safecharge_safecharge_vault</table>
                    </vault>
                </entities>
            </safecharge_safecharge_resource>
        </models>
        <resources>
            <safecharge_safecharge_setup>
                <setup>
                    <module>Safecharge_Safecharge</module>
                </setup>
            </safecharge_safecharge_setup>
        </resources>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <safecharge_safecharge_order_invoice_pay>
                        <class>safecharge_safecharge/observer</class>
                        <method>invoicePay</method>
                    </safecharge_safecharge_order_invoice_pay>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_payment_void>
                <observers>
                    <safecharge_safecharge_order_void_register>
                        <class>safecharge_safecharge/observer</class>
                        <method>voidRegister</method>
                    </safecharge_safecharge_order_void_register>
                </observers>
            </sales_order_payment_void>
        </events>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Safecharge_Safecharge>
                    <files>
                        <default>Safecharge_Safecharge.csv</default>
                    </files>
                </Safecharge_Safecharge>
            </modules>
        </translate>
        <layout>
            <updates>
                <safecharge_safecharge>
                    <file>safecharge/safecharge.xml</file>
                </safecharge_safecharge>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <events>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <safecharge_safecharge_request_entity_persistence>
                        <class>safecharge_safecharge/observer</class>
                        <method>requestEntityPersistence</method>
                    </safecharge_safecharge_request_entity_persistence>
                </observers>
            </sales_model_service_quote_submit_failure>
            <controller_action_predispatch_checkout_onepage_saveOrder>
                <observers>
                    <safecharge_safecharge_external_redirect>
                        <class>safecharge_safecharge/observer</class>
                        <method>externalSolution</method>
                    </safecharge_safecharge_external_redirect>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveOrder>
        </events>
        <translate>
            <modules>
                <Safecharge_Safecharge>
                    <files>
                        <default>Safecharge_Safecharge.csv</default>
                    </files>
                </Safecharge_Safecharge>
            </modules>
        </translate>
        <routers>
            <safecharge_safecharge>
                <use>standard</use>
                <args>
                    <module>Safecharge_Safecharge</module>
                    <frontName>safecharge</frontName>
                </args>
            </safecharge_safecharge>
        </routers>
        <layout>
            <updates>
                <safecharge_safecharge>
                    <file>safecharge/safecharge.xml</file>
                </safecharge_safecharge>
            </updates>
        </layout>
    </frontend>

    <default>
        <payment>
            <safecharge>
                <model>safecharge_safecharge/safecharge</model>
                <active>0</active>
                <title>Safecharge</title>
                <mode>Safecharge_Safecharge_Model_Safecharge::MODE_SANDBOX</mode>
                <merchant_id backend_model="adminhtml/system_config_backend_encrypted"/>
                <merchant_site_id/>
                <merchant_secret_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <sandbox_merchant_id backend_model="adminhtml/system_config_backend_encrypted"/>
                <sandbox_merchant_site_id/>
                <sandbox_merchant_secret_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <enable_cc_detection>1</enable_cc_detection>
                <payment_action>Safecharge_Safecharge_Model_Safecharge::ACTION_AUTHORIZE</payment_action>
                <payment_solution>Safecharge_Safecharge_Model_Safecharge::PAYMENTSOLUTION_INTEGRATED</payment_solution>
                <order_status>sc_auth</order_status>
                <use_vault>1</use_vault>
                <useccv>1</useccv>
                <debug>0</debug>
                <cctypes>AE,VI,MC,DI</cctypes>
                <min_order_total/>
                <max_order_total/>
                <sort_order>50</sort_order>
                <allowspecific>0</allowspecific>
                <specificcountry/>
            </safecharge>
        </payment>
    </default>

</config>
